# Firebase Configuration (Frontend)
VITE_FIREBASE_API_KEY=AIzaSyA1dsX2PFzwWzgqvHikeA1JeS71JwUnTiE
VITE_FIREBASE_AUTH_DOMAIN=jai-hanuman-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jai-hanuman-ai
VITE_FIREBASE_STORAGE_BUCKET=jai-hanuman-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=66510647957
VITE_FIREBASE_APP_ID=1:66510647957:web:3b0c1bb3c702008eb5219c
VITE_FIREBASE_MEASUREMENT_ID=G-5D449H7W9P
VITE_FIREBASE_DATABASE_ID=ai-studio-b8d84549-d9f2-4318-8dc6-aa05542d3d3b

# Firebase Configuration (Backend)
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
YOUR_PRIVATE_KEY_HERE
-----END PRIVATE KEY-----
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@jai-hanuman-ai.iam.gserviceaccount.com
FIREBASE_PROJECT_ID=jai-hanuman-ai
FIREBASE_DATABASE_ID=ai-studio-b8d84549-d9f2-4318-8dc6-aa05542d3d3b

# Other Services
GEMINI_API_KEY=
JWT_SECRET=
RAZORPAY_KEY_ID=rzp_test_SadrrmziqiXXOL
RAZORPAY_KEY_SECRET=9fezWwGi8X7AsFbSyFuNsOUh
