# Firebase Configuration (Frontend)
VITE_FIREBASE_API_KEY=AIzaSyA1dsX2PFzwWzgqvHikeA1JeS71JwUnTiE
VITE_FIREBASE_AUTH_DOMAIN=jai-hanuman-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jai-hanuman-ai
VITE_FIREBASE_STORAGE_BUCKET=jai-hanuman-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=66510647957
VITE_FIREBASE_APP_ID=1:66510647957:web:3b0c1bb3c702008eb5219c
VITE_FIREBASE_MEASUREMENT_ID=G-5D449H7W9P
VITE_FIREBASE_DATABASE_ID=(default)

# Firebase Configuration (Backend)
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@jai-hanuman-ai.iam.gserviceaccount.com
FIREBASE_PROJECT_ID=jai-hanuman-ai
FIREBASE_DATABASE_ID=(default)

# Other Services
GEMINI_API_KEY=AIzaSyBuyyzBMtdwBQBxlOT2DMYfvfR18rSpM2sAIzaSyBuyyzBMtdwBQBxlOT2DMYfvfR18rSpM2s
JWT_SECRET=1a1db36b917ea0493f27fed9da6811e9d78feac359d346f6d051d748
RAZORPAY_KEY_ID=rzp_test_SadrrmziqiXXOL
RAZORPAY_KEY_SECRET=9fezWwGi8X7AsFbSyFuNsOUh
